# ****Normalizer and MaxAbsScalar****

In [4]:
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
df=sns.load_dataset('titanic')

In [5]:
# Using Ordinal Encoding changing all caterogic to numeric

from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder()

oe.fit(df[['sex', 'embarked', 'class','who','adult_male','embark_town','alone','deck']])

df[['sex', 'embarked', 'class','who','adult_male','embark_town','alone','deck']] = oe.transform(df[['sex', 'embarked', 'class','who','adult_male','embark_town','alone','deck']])

df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,1.0,22.0,1,0,7.2500,2.0,2.0,1.0,1.0,NaN,2.0,no,0.0
1,1,1,0.0,38.0,1,0,71.2833,0.0,0.0,2.0,0.0,2.0,0.0,yes,0.0
2,1,3,0.0,26.0,0,0,7.9250,2.0,2.0,2.0,0.0,NaN,2.0,yes,1.0
3,1,1,0.0,35.0,1,0,53.1000,2.0,0.0,2.0,0.0,2.0,2.0,yes,0.0
4,0,3,1.0,35.0,0,0,8.0500,2.0,2.0,1.0,1.0,NaN,2.0,no,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,1.0,27.0,0,0,13.0000,2.0,1.0,1.0,1.0,NaN,2.0,no,1.0
887,1,1,0.0,19.0,0,0,30.0000,2.0,0.0,2.0,0.0,1.0,2.0,yes,1.0
888,0,3,0.0,NaN,1,2,23.4500,2.0,2.0,2.0,0.0,NaN,2.0,no,0.0
889,1,1,1.0,26.0,0,0,30.0000,0.0,0.0,1.0,1.0,2.0,0.0,yes,1.0
890,0,3,1.0,32.0,0,0,7.7500,1.0,2.0,1.0,1.0,NaN,1.0,no,1.0

# ***Using MaxAbsScalar***

In [6]:
from sklearn.preprocessing import MaxAbsScaler
scaler = MaxAbsScaler()
scaler.fit_transform(df[['sex', 'embarked', 'class','who','adult_male','embark_town','alone','deck']])
df[['sex', 'embarked', 'class','who','adult_male','embark_town','alone','deck']] = scaler.transform(df[['sex', 'embarked', 'class','who','adult_male','embark_town','alone','deck']])
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,1.0,22.0,1,0,7.2500,1.0,1.0,0.5,1.0,NaN,1.0,no,0.0
1,1,1,0.0,38.0,1,0,71.2833,0.0,0.0,1.0,0.0,0.333333,0.0,yes,0.0
2,1,3,0.0,26.0,0,0,7.9250,1.0,1.0,1.0,0.0,NaN,1.0,yes,1.0
3,1,1,0.0,35.0,1,0,53.1000,1.0,0.0,1.0,0.0,0.333333,1.0,yes,0.0
4,0,3,1.0,35.0,0,0,8.0500,1.0,1.0,0.5,1.0,NaN,1.0,no,1.0

# ***Normalizer***

# **L2 IS EUCILIDEAN DISTANCE**

In [4]:
import pandas as pd
import numpy as np
data=np.array([[1,2,3],
               [4,5,6],
               [7,8,9]])

from sklearn.preprocessing import Normalizer

normalizer = Normalizer(norm='l2')
normalizer.fit_transform(data)

array([[0.26726124, 0.53452248, 0.80178373],
       [0.45584231, 0.56980288, 0.68376346],
       [0.50257071, 0.57436653, 0.64616234]])

# **L1 IS MANHATTAN DISTANCE**

In [5]:
import pandas as pd
import numpy as np
data1=np.array([[1,2,3],
               [4,5,6],
               [7,8,9]])

from sklearn.preprocessing import Normalizer

normalizer = Normalizer(norm='l1')
normalizer.fit_transform(data1)

array([[0.16666667, 0.33333333, 0.5       ],
       [0.26666667, 0.33333333, 0.4       ],
       [0.29166667, 0.33333333, 0.375     ]])